<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main-frame">
        <div class="left-frame">
          <div class="left-1">
            <div class="left-1-1">
              <img
                src="images/profile.png"
                height="135.053px"
                width="156.164px"
                alt=""
              />
            </div>
            <div class="left-1-2"><%=user.name%></div>
            <div class="left-1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link-href">
                <div class="icon">
                  <img src="icon/Vector.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link-href">
                <div class="icon">
                  <img src="icon/Vector-1.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link-href">
                <div class="icon">
                  <img src="icon/Vector-2.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link-href">
                <div class="icon">
                  <img src="icon/Vector-3.svg" class="icon-1" alt="" />
                </div> </a
              ><a class="link-href">
                <div class="icon">
                  <img src="icon/Vector-4.svg" class="icon-1" alt="" />
                </div> </a
              ><a class="link-href">
                <div class="icon">
                  <img src="icon/Vector-5.svg" class="icon-1" alt="" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left-2">
            <div class="left-2-about">
              <div class="left-2-about-wrapper left-2-wrapper-age">
                <h1>Age:</h1>
              </div>
              <p><%=user.age%></p>
            </div>
            <div class="left-2-about">
              <div class="left-2-about-wrapper"><h1>Residence:</h1></div>
              <p><%=user.residence%></p>
            </div>
            <div class="left-2-about">
              <div class="left-2-about-wrapper"><h1>Occupation:</h1></div>
              <p><%=user.profession%></p>
            </div>
            <div class="left-2-about">
              <div class="left-2-about-wrapper left-2-wrapper-address">
                <h1>Address:</h1>
              </div>
              <p><%=user.address%></p>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left-3">
            <div class="left-3-languages-title">Languages</div>
            <div class="left-3-languages-wrapper">
              <h1><%=user.languages[0]%></h1>
              <p>100%</p>
            </div>
            <img src="images/percent-1.png" class="left-3-percent" alt="" />
            <div class="left-3-languages-wrapper">
              <h1><%=user.languages[1]%></h1>
              <p>80%</p>
            </div>
            <img src="images/percent-2.png" class="left-3-percent" alt="" />
            <div class="left-3-languages-wrapper">
              <h1><%=user.languages[2]%></h1>
              <p>60%</p>
            </div>
            <img src="images/percent-3.png" class="left-3-percent" alt="" />
          </div>
          <div class="marginer"></div>
          <div class="left-4">
            <div class="left-3-languages-title">Skills</div>
            <div class="left-3-languages-wrapper">
              <h1><%=user.skills[0]%></h1>
              <p>90%</p>
            </div>
            <img src="images/percent-4.png" class="left-3-percent" alt="" />
            <div class="left-3-languages-wrapper">
              <h1><%=user.skills[1]%></h1>
              <p>85%</p>
            </div>
            <img src="images/percent-5.png" class="left-3-percent" alt="" />
            <div class="left-3-languages-wrapper">
              <h1><%=user.skills[2]%></h1>
              <p>80%</p>
            </div>
            <img src="images/percent-6.png" class="left-3-percent" alt="" />
            <div class="left-3-languages-wrapper">
              <h1><%=user.skills[3]%></h1>
              <p>75%</p>
            </div>
            <img src="images/percent-7.png" class="left-3-percent" alt="" />
          </div>
          <div class="marginer"></div>
          <div class="left-5">
            <div class="left-extra-skills">
              <div class="left-extra-skills-title">Extra Skills</div>
              <div class="left-extra-skill">
                <div class="left-extra-skill-img">
                  <img src="icon/extra_skills_icon.svg" alt="" />
                </div>
                <div class="left-extra-skill-name">
                  <%=user.extra_skills[0]%>
                </div>
              </div>
              <div class="left-extra-skill">
                <div class="left-extra-skill-img">
                  <img src="icon/extra_skills_icon.svg" alt="" />
                </div>
                <div class="left-extra-skill-name">
                  <%=user.extra_skills[1]%>
                </div>
              </div>
              <div class="left-extra-skill">
                <div class="left-extra-skill-img">
                  <img src="icon/extra_skills_icon.svg" alt="" />
                </div>
                <div class="left-extra-skill-name">
                  <%=user.extra_skills[2]%>
                </div>
              </div>
              <div class="left-extra-skill">
                <div class="left-extra-skill-img">
                  <img src="icon/extra_skills_icon.svg" alt="" />
                </div>
                <div class="left-extra-skill-name">
                  <%=user.extra_skills[3]%>
                </div>
              </div>
              <div class="left-extra-skill">
                <div class="left-extra-skill-img">
                  <img src="icon/extra_skills_icon.svg" alt="" />
                </div>
                <div class="left-extra-skill-name">
                  <%=user.extra_skills[4]%>
                </div>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="midd-frame">
          <div class="midd-frame-about">
            <div class="midd-frame-about-info">
              <div class="midd-frame-about-info-title">
                <%=user.work_place%>
              </div>
              <div class="midd-frame-about-info-desc">
                <%=user.service_desc%>
              </div>
              <div class="midd-frame-about-info-btn">
                <button class="midd-frame-about-info-btn-container">
                  <div class="midd-frame-about-info-btn-title">HIRE ME</div>
                  <div class="midd-frame-about-info-btn-img">
                    <img src="btn_icon/button-frame.svg" alt="" />
                  </div>
                </button>
              </div>
            </div>
            <div class="midd-frame-about-img">
              <img src="images/profile-midd.png" alt="" />
            </div>
            <div class="midd-frame-shapes">
              <img
                src="icon/midd-shapes/Ellipse-1.svg"
                alt=""
                class="midd-frame-shapes-ellipse-1"
              />
              <img
                src="icon/midd-shapes/Ellipse-2.svg"
                alt=""
                class="midd-frame-shapes-ellipse-2"
              />
              <img
                src="icon/midd-shapes/Ellipse-3.svg"
                alt=""
                class="midd-frame-shapes-ellipse-3"
              />
              <img
                src="icon/midd-shapes/Ellipse-4.svg"
                alt=""
                class="midd-frame-shapes-ellipse-4"
              />
              <img
                src="icon/midd-shapes/Rectangle-1.svg"
                alt=""
                class="midd-frame-shapes-rectangle-1"
              />
              <img
                src="icon/midd-shapes/Rectangle-2.svg"
                alt=""
                class="midd-frame-shapes-rectangle-2"
              />
              <img
                src="icon/midd-shapes/Polygon-1.svg"
                alt=""
                class="midd-frame-shapes-polygon-1"
              />
              <img src="icon/midd-shapes/elipse-1.svg" alt="" />
            </div>
          </div>
          <div class="midd-frame-services">
            <div class="midd-frame-services-desc">
              <div class="midd-frame-services-desc-title">My Services</div>
              <div class="midd-frame-services-desc-info">
                <%=user.service_desc%>
              </div>
            </div>
            <div class="midd-frame-services-items">
              <div class="midd-frame-services-items-container">
                <img src="icon/midd-icons/midd-1.svg" alt="" />
                <h1>Web Development</h1>
                <p>Blog, E-Commerce</p>
              </div>
              <div class="midd-frame-services-items-container">
                <img src="icon/midd-icons/midd-2.svg" alt="" />
                <h1>UI/UX Design</h1>
                <p>Mobile app, website design</p>
              </div>
              <div class="midd-frame-services-items-container">
                <img src="icon/midd-icons/midd-3.svg" alt="" />
                <h1>Sound Design</h1>
                <p>Voice Over, Beat Making</p>
              </div>
            </div>
            <div class="midd-frame-services-items">
              <div class="midd-frame-services-items-container">
                <img src="icon/midd-icons/midd-4.svg" alt="" />
                <h1>Game Design</h1>
                <p>Character Design, Props & Objects</p>
              </div>
              <div class="midd-frame-services-items-container">
                <img src="icon/midd-icons/midd-5.svg" alt="" />
                <h1>Photoprahpy</h1>
                <p>Portrait, Product Photoprahpy</p>
              </div>
              <div class="midd-frame-services-items-wrapper">
                <div class="midd-frame-services-items-element">
                  <div class="midd-frame-services-items-element-header">
                    Advertising
                  </div>
                  <div class="midd-frame-services-items-element-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vitae nulla diam in ac dictum a urna viverra morbi.
                  </div>
                  <div class="midd-frame-services-items-element-desc-1">
                    <div class="midd-frame-services-items-element-desc-btn">
                      ORDER NOW
                      <img
                        src="btn_icon/btn-frame-yellow.svg"
                        style="margin-left: 5px"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-frame">
          <div class="right-icons-container-icon-mode">
            <img src="icon/mode.svg" alt="" />
          </div>
          <div class="right-icons-active">
            <img
              src="btn_icon/active.svg"
              alt=""
              class="right-icons-active-img"
            />
            <div class="right-icons-active-txt">HOME</div>
          </div>
          <div class="is-active">
            <img src="icon/Home.svg" alt="" />
          </div>
          <div class="right-icons-container-icon-wrapper">
            <img src="icon/File.svg" alt="" />
          </div>
          <div class="right-icons-container-icon-wrapper">
            <img src="icon/CV.svg" alt="" />
          </div>
          <div class="right-icons-container-icon-wrapper">
            <img src="icon/Portfolio.svg" alt="" />
          </div>
          <div class="right-icons-container-icon-wrapper">
            <img src="icon/Blog.svg" alt="" />
          </div>
          <div class="right-icons-container-icon-wrapper">
            <img src="icon/Contact.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
